In [60]:
'''
Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

'''
def is_symmetrical(num):
    str_num = str(num)
    list1 = []
    list2 = []
    
    for i in str_num :
        list1.append(i)
    
    for i in range(len(list1)-1,-1,-1):
        list2.append(list1[i])
    
    if list1 == list2:
        return True
    else:
        return False
    
is_symmetrical(1112111)

True

In [168]:
'''
Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20
'''
def multiply_nums(str):
    list = str.split(",")
    list1 = []
    d=1
    for i in list:
        list1.append(int(i))

    for i in list1:
        d=d*i
    return d

multiply_nums("10,-2")

-20

In [199]:
'''
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
'''
def square_digits(intt):
    d=str(intt)
    li=[]
    li1=[]
    
    for i in d:
        li.append(int(i))
    
    for i in li:
        li1.append(i*i)
    print(*li1,sep="")

square_digits(9119)

811181

In [206]:
'''
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
'''
def setify(l=[]):
    l=sorted(l)
    dup=[]
    for i in l:
        if i not in dup:
            dup.append(i)
    return dup


setify([5,7,8,9,10,15])

[5, 7, 8, 9, 10, 15]

In [224]:
'''
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

'''
def mean(intt):
    str1=str(intt)
    lis=[]
    summ=0
    for i in str1:
        lis.append(int(i))
    for i in lis:
        summ+=i
        
    return (round(summ/len(lis)))

mean(12345)

3